<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-persona-heading" data-cy="PersonaCreateUpdateHeading" jhiTranslate="pruebapeigoApp.persona.home.createOrEditLabel">
        Create or edit a Persona
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.persona.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.persona.apellidos" for="field_apellidos">Apellidos</label>
          <input type="text" class="form-control" name="apellidos" id="field_apellidos" data-cy="apellidos" formControlName="apellidos" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.persona.tipoDocumento" for="field_tipoDocumento">Tipo Documento</label>
          <input
            type="text"
            class="form-control"
            name="tipoDocumento"
            id="field_tipoDocumento"
            data-cy="tipoDocumento"
            formControlName="tipoDocumento"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.persona.numeroDocumento" for="field_numeroDocumento"
            >Numero Documento</label
          >
          <input
            type="text"
            class="form-control"
            name="numeroDocumento"
            id="field_numeroDocumento"
            data-cy="numeroDocumento"
            formControlName="numeroDocumento"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.persona.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.persona.telefono" for="field_telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.persona.direccion" for="field_direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.persona.cuenta" for="field_cuenta">Cuenta</label>
          <select class="form-control" id="field_cuenta" data-cy="cuenta" name="cuenta" formControlName="cuenta">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="cuentaOption.id === editForm.get('cuenta')!.value?.id ? editForm.get('cuenta')!.value : cuentaOption"
              *ngFor="let cuentaOption of cuentasCollection; trackBy: trackCuentaById"
            >
              {{ cuentaOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.persona.auditoria" for="field_auditoria">Auditoria</label>
          <select class="form-control" id="field_auditoria" data-cy="auditoria" name="auditoria" formControlName="auditoria">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="auditoriaOption.id === editForm.get('auditoria')!.value?.id ? editForm.get('auditoria')!.value : auditoriaOption"
              *ngFor="let auditoriaOption of auditoriasCollection; trackBy: trackAuditoriaById"
            >
              {{ auditoriaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
