<div>
  <h2 id="page-heading" data-cy="AuditoriaHeading">
    <span jhiTranslate="pruebapeigoApp.auditoria.home.title">Auditorias</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pruebapeigoApp.auditoria.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-auditoria"
        [routerLink]="['/auditoria/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pruebapeigoApp.auditoria.home.createLabel"> Create a new Auditoria </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="auditorias?.length === 0">
    <span jhiTranslate="pruebapeigoApp.auditoria.home.notFound">No auditorias found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="auditorias && auditorias.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="pruebapeigoApp.auditoria.usuarioCreacion">Usuario Creacion</span></th>
          <th scope="col"><span jhiTranslate="pruebapeigoApp.auditoria.fechaCreacion">Fecha Creacion</span></th>
          <th scope="col"><span jhiTranslate="pruebapeigoApp.auditoria.usuarioModificacion">Usuario Modificacion</span></th>
          <th scope="col"><span jhiTranslate="pruebapeigoApp.auditoria.fechaModificacion">Fecha Modificacion</span></th>
          <th scope="col"><span jhiTranslate="pruebapeigoApp.auditoria.request">Request</span></th>
          <th scope="col"><span jhiTranslate="pruebapeigoApp.auditoria.response">Response</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auditoria of auditorias; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/auditoria', auditoria.id, 'view']">{{ auditoria.id }}</a>
          </td>
          <td>{{ auditoria.usuarioCreacion }}</td>
          <td>{{ auditoria.fechaCreacion | formatMediumDatetime }}</td>
          <td>{{ auditoria.usuarioModificacion }}</td>
          <td>{{ auditoria.fechaModificacion | formatMediumDatetime }}</td>
          <td>{{ auditoria.request }}</td>
          <td>{{ auditoria.response }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/auditoria', auditoria.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/auditoria', auditoria.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(auditoria)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
