<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="operacion">
      <h2 data-cy="operacionDetailsHeading"><span jhiTranslate="pruebapeigoApp.operacion.detail.title">Operacion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ operacion.id }}</span>
        </dd>
        <dt><span jhiTranslate="pruebapeigoApp.operacion.numeroOperacion">Numero Operacion</span></dt>
        <dd>
          <span>{{ operacion.numeroOperacion }}</span>
        </dd>
        <dt><span jhiTranslate="pruebapeigoApp.operacion.monto">Monto</span></dt>
        <dd>
          <span>{{ operacion.monto }}</span>
        </dd>
        <dt><span jhiTranslate="pruebapeigoApp.operacion.cuentaOrigen">Cuenta Origen</span></dt>
        <dd>
          <span>{{ operacion.cuentaOrigen }}</span>
        </dd>
        <dt><span jhiTranslate="pruebapeigoApp.operacion.cuentaDestino">Cuenta Destino</span></dt>
        <dd>
          <span>{{ operacion.cuentaDestino }}</span>
        </dd>
        <dt><span jhiTranslate="pruebapeigoApp.operacion.auditoria">Auditoria</span></dt>
        <dd>
          <div *ngIf="operacion.auditoria">
            <a [routerLink]="['/auditoria', operacion.auditoria?.id, 'view']">{{ operacion.auditoria?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/operacion', operacion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
