<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cuenta-heading" data-cy="CuentaCreateUpdateHeading" jhiTranslate="pruebapeigoApp.cuenta.home.createOrEditLabel">
        Create or edit a Cuenta
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.cuenta.numeroCuenta" for="field_numeroCuenta">Numero Cuenta</label>
          <input
            type="text"
            class="form-control"
            name="numeroCuenta"
            id="field_numeroCuenta"
            data-cy="numeroCuenta"
            formControlName="numeroCuenta"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.cuenta.saldo" for="field_saldo">Saldo</label>
          <input type="number" class="form-control" name="saldo" id="field_saldo" data-cy="saldo" formControlName="saldo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.cuenta.tipoCuenta" for="field_tipoCuenta">Tipo Cuenta</label>
          <select class="form-control" name="tipoCuenta" formControlName="tipoCuenta" id="field_tipoCuenta" data-cy="tipoCuenta">
            <option [ngValue]="null">{{ 'pruebapeigoApp.TipoCuenta.null' | translate }}</option>
            <option *ngFor="let tipoCuenta of tipoCuentaValues" [value]="tipoCuenta">
              {{ 'pruebapeigoApp.TipoCuenta.' + tipoCuenta | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.cuenta.auditoria" for="field_auditoria">Auditoria</label>
          <select class="form-control" id="field_auditoria" data-cy="auditoria" name="auditoria" formControlName="auditoria">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="auditoriaOption.id === editForm.get('auditoria')!.value?.id ? editForm.get('auditoria')!.value : auditoriaOption"
              *ngFor="let auditoriaOption of auditoriasCollection; trackBy: trackAuditoriaById"
            >
              {{ auditoriaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
