<div>
  <h2 id="page-heading" data-cy="CuentaHeading">
    <span jhiTranslate="pruebapeigoApp.cuenta.home.title">Cuentas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pruebapeigoApp.cuenta.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cuenta"
        [routerLink]="['/cuenta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pruebapeigoApp.cuenta.home.createLabel"> Create a new Cuenta </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cuentas?.length === 0">
    <span jhiTranslate="pruebapeigoApp.cuenta.home.notFound">No cuentas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cuentas && cuentas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="pruebapeigoApp.cuenta.numeroCuenta">Numero Cuenta</span></th>
          <th scope="col"><span jhiTranslate="pruebapeigoApp.cuenta.saldo">Saldo</span></th>
          <th scope="col"><span jhiTranslate="pruebapeigoApp.cuenta.tipoCuenta">Tipo Cuenta</span></th>
          <th scope="col"><span jhiTranslate="pruebapeigoApp.cuenta.auditoria">Auditoria</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cuenta of cuentas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cuenta', cuenta.id, 'view']">{{ cuenta.id }}</a>
          </td>
          <td>{{ cuenta.numeroCuenta }}</td>
          <td>{{ cuenta.saldo }}</td>
          <td jhiTranslate="{{ 'pruebapeigoApp.TipoCuenta.' + cuenta.tipoCuenta }}">{{ cuenta.tipoCuenta }}</td>
          <td>
            <div *ngIf="cuenta.auditoria">
              <a [routerLink]="['/auditoria', cuenta.auditoria?.id, 'view']">{{ cuenta.auditoria?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/cuenta', cuenta.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/cuenta', cuenta.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cuenta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
