<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-operacion-heading" data-cy="OperacionCreateUpdateHeading" jhiTranslate="pruebapeigoApp.operacion.home.createOrEditLabel">
        Create or edit a Operacion
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

      
        <div class="row mb-3"  [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="pruebapeigoApp.operacion.numeroOperacion" for="field_numeroOperacion"
            >Numero Operacion</label
          >
          <input
          [readonly]="true" 
            type="text"
            class="form-control"
            name="numeroOperacion"
            id="field_numeroOperacion"
            data-cy="numeroOperacion"
            formControlName="numeroOperacion"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.operacion.monto" for="field_monto">Monto</label>
          <input type="number" class="form-control" name="monto" id="field_monto" data-cy="monto" formControlName="monto" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.operacion.cuentaOrigen" for="field_cuentaOrigen">Cuenta Origen</label>
          <input
            type="number"
            class="form-control"
            name="cuentaOrigen"
            id="field_cuentaOrigen"
            data-cy="cuentaOrigen"
            formControlName="cuentaOrigen"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pruebapeigoApp.operacion.cuentaDestino" for="field_cuentaDestino">Cuenta Destino</label>
          <input
            type="number"
            class="form-control"
            name="cuentaDestino"
            id="field_cuentaDestino"
            data-cy="cuentaDestino"
            formControlName="cuentaDestino"
          />
        </div>

      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
